<div class="row">
  <h1></h1>
  <h1>Page 1</h1>

  <div class="col-md-1">

  </div>
  <div class="col-md-3">
    <img src="http://lorempixel.com/400/200/" />
  </div>
  <div class="col-md-3">
    <img src="http://lorempixel.com/401/200/" />

  </div>
  <div class="col-md-3">
    <img src="http://lorempixel.com/399/200/" />

  </div>

</div>
